@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  box-sizing: border-box;
}
  */

